/* resert CSS */
* {
   box-sizing: border-box;
}
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------------- */

body {
	font-size: 18px;
}

.wrapper {
	background:rgb(182, 211, 211);
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
}

.box {
	width: 800px;
	margin: 0 auto; 
}

.box > div {
	padding: 20px;
}

.box > div + div {
	margin-top: 20px;
}

.box h4 {
	font-size: 18px;
	text-align: left;
	color: rgb(6, 77, 77);
}

p {
	text-align: left;
}

.bg-grey {
	background: rgb(231, 232, 232);
}

.name-position {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

ul {
	padding-left: 20px;
	text-align: left; 
}

.period {
	color: grey;
	font-size: 14px;
}

.bg-lightblue {
	background:rgb(217, 248, 248);
}

.reference {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

a {
	color: black;
}




